@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] COLD Survey Management System</title>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">


    @* <link href="~/lib/bootstrap/dist/css/bootstrap_Superhero.min.css" rel="stylesheet" />*@
<link href="~/lib/bootstrap/dist/css/bootstrap.Sandstone.min.css" rel="stylesheet" />
    @*<link href="~/lib/bootstrap/dist/css/bootstrap_Simplex.min.css" rel="stylesheet" />*@
    <!--<link href="~/lib/bootstrap/dist/css/bootstrap_Minty.min.css" rel="stylesheet" />-->
    @*<link href="~/lib/bootstrap/dist/css/bootstrap_Yeti.min.css" rel="stylesheet" />*@
    @*<link href="~/lib/bootstrap/dist/css/bootstrap_Lux.css" rel="stylesheet" />*@

    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@



    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/user.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />

    @* Roboto google font *@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&family=Montserrat:wght@500;600&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    @*<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">*@

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />



</head>
<body>
    <div class="banner-top">
        Internationa Civil Service Commission
    </div>

    <header>

        <nav id="navbar_top" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        @*<nav class="navbar navbar-expand-lg navbar-dark bg-primary">*@
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CSMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <partial name="_RedirectorPartial" />
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - International Civil Service Commission - <b>Cost of Living Division </b> <b>S</b>urvey <b>M</b>anagement <b>S</b>ystem
            <br />
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>


    <script>
        $('.mydatatable').DataTable({
            order: [[0, 'asc']],
            pagingType: 'full_numbers'
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {

        window.addEventListener('scroll', function () {

            if (window.scrollY > 200) {
                document.getElementById('navbar_top').classList.add('fixed-top');
                // add padding top to show content behind navbar
                navbar_height = document.querySelector('.navbar').offsetHeight;
                document.body.style.paddingTop = navbar_height + 'px';
            } else {
                document.getElementById('navbar_top').classList.remove('fixed-top');
                // remove padding top from body
                document.body.style.paddingTop = '0';
            }
        });
    });
        // DOMContentLoaded  end
    </script>