@model CSMS.Models.ScreportQuestion
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Hosting;

<div class="container">
    <br />
    <h3 class="text-danger center">Access denied</h3>
    <hr />

    <p class="text-danger center"> Either the user has no access to this survey or @ViewData["QuestionnaireMessage"]</p><br /><br />

</div>