@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;
@model CSMS.Models.ScPricingData

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2 class="card-title">Edit</h2>

                    @*<h4>ScPricingData</h4>*@
                    <hr />

                    <br />

                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="form-group">
                            <label asp-for="StoreId" class="control-label"></label>
                            <input asp-for="StoreId" class="form-control" />
                            <span asp-validation-for="StoreId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Brand" class="control-label"></label>
                            <input asp-for="Brand" class="form-control" />
                            <span asp-validation-for="Brand" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Unit" class="control-label"></label>
                            <input asp-for="Unit" class="form-control" />
                            <span asp-validation-for="Unit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Comments" class="control-label"></label>
                            <input asp-for="Comments" class="form-control" />
                            <span asp-validation-for="Comments" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BasicChargeUnit" class="control-label"></label>
                            <input asp-for="BasicChargeUnit" class="form-control" />
                            <span asp-validation-for="BasicChargeUnit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BasicChargeRate" class="control-label"></label>
                            <input asp-for="BasicChargeRate" class="form-control" />
                            <span asp-validation-for="BasicChargeRate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AdditionalChargeUnit" class="control-label"></label>
                            <input asp-for="AdditionalChargeUnit" class="form-control" />
                            <span asp-validation-for="AdditionalChargeUnit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AdditionalChargeRate" class="control-label"></label>
                            <input asp-for="AdditionalChargeRate" class="form-control" />
                            <span asp-validation-for="AdditionalChargeRate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OtherChargeUnit" class="control-label"></label>
                            <input asp-for="OtherChargeUnit" class="form-control" />
                            <span asp-validation-for="OtherChargeUnit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OtherChargeRate" class="control-label"></label>
                            <input asp-for="OtherChargeRate" class="form-control" />
                            <span asp-validation-for="OtherChargeRate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ThirdParty" class="control-label"></label>
                            <input asp-for="ThirdParty" class="form-control" />
                            <span asp-validation-for="ThirdParty" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Comprehensive" class="control-label"></label>
                            <input asp-for="Comprehensive" class="form-control" />
                            <span asp-validation-for="Comprehensive" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Collision" class="control-label"></label>
                            <input asp-for="Collision" class="form-control" />
                            <span asp-validation-for="Collision" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RegistrationFee" class="control-label"></label>
                            <input asp-for="RegistrationFee" class="form-control" />
                            <span asp-validation-for="RegistrationFee" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                        <label asp-for="Syscode" class="control-label"></label>
                        <input asp-for="Syscode" class="form-control" />
                        <span asp-validation-for="Syscode" class="text-danger"></span>
                    </div>*@
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-info" /> 
                            <a  class="btn btn-danger" asp-action="Create">Back</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-2"></div>




            </div>
        </div>
    </div>
    @*@section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }*@
</div>