

@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;
@{
}

<!-- HOUSING SECTION BEGINS -->


<div id="page2">
    <div class="card">
        <div class="card-body">

            <h2 class="card-title text-center">Survey Coordinator</h2>


            <hr>
            <br />

            <p>
                The Survey Coordinator, as the overall manager of the survey, plays a pivotal role in the survey process, with the primary responsibility
                for ensuring the successful administration of the survey. Among other things, he/she is the liaison between the duty station and
                the ICSC on all matters pertaining to the survey.
                <br /><br />This page provides information and guidelines for the Survey Coordinator

            </p>
            <br />

            <h3 class="card-title">Profile of a Survey Coordinator</h3>
            <p>
                The Survey Coordinator will normally be a senior officer of the Organization that has the responsibility of locally
                coordinating cost-of-living surveys on behalf of ICSC. In headquarters and other group I duty stations, the local
                coordinator will be the Chief of Administration or Personnel Division (or a senior officer designated by him/ her).
                In field duty stations, it will normally be the Resident Coordinator or UNDP Resident Representative
                (or a designated senior official). However, in duty stations where an organization of the UN common system has a sizable
                regional office, its Chief of Administration will be the Survey Coordinator.

            </p>
            <br />
            <p>
                In duty stations where two or more organizations have staff members, the Survey Coordinator heads a Local Survey Committee (LSC)
                comprised of focal points for each organization, who in turn will be responsible for coordinating the survey arrangements for
                eligible staff of their respective organizations. They assist the survey coordinator with the administration of the survey by
                issuing information circulars and instructions regarding survey arrangements for their organizations, and with follow-up
                activities with staff in case of low response rates. Focal points are expected to communicate survey-related information on
                their respective organization directly to the survey coordinator, who liaises with the ICSC on all aspects of the survey.
            </p>
            <br />
            <br />
            <h3 class="card-title">Roles of Survey Coordinator</h3>
            <br />
            <p>
                The main responsibilities of the Survey Coordinator are:
                <ul class="list-icons">
                    <li><i class="fa fa-check text-info"></i> Providing ICSC with a list of personnel, with information about the grade level/step, and e-mail addresses of all eligible staff at the duty station;</li>
                    <li><i class="fa fa-check text-info"></i> Providing ICSC with the initial list of outlets;</li>
                    
                    
                    <li><i class="fa fa-check text-info"></i> Monitoring the completion of the Housing Survey Questionnaire by staff;</li>
                    
                    <li><i class="fa fa-check text-info"></i> Providing basic information and feedback relating to local conditions;</li>
                    <li><i class="fa fa-check text-info"></i> Sending all completed survey materials back to ICSC within the suggested time frame; and</li>
                    <li><i class="fa fa-check text-info"></i> Liaising with ICSC on various aspects of the survey.</li>
                </ul>
            </p>
            <br />
            <p>
                The Survey Coordinator should be able to explain the basic methodology and operation of the post adjustment system to staff.
                Basic information of the Post adjustment system can be downloaded from the <a href="https://icsc.un.org/Home/DataPostAdjustment" target="_blank">ICSC website</a>
            </p>
            <br />
            <p>
                A very important part of the survey is the Coordinator's Report, which requests basic information related to local conditions affecting the cost of living
                of international staff and includes questions on housing, security, domestic service costs, medical insurance, staff entitlement to duty free importation
                and tax-free privileges. The Survey Coordinator, is responsible for providing the information requested in this section.
                Since detailed information regarding local living conditions can greatly assist the ICSC in analyzing survey data, the Survey Coordinator is encouraged to
                amplify his/her answers and give whatever additional comments he/she may have. 
            </p>
            <br />
            <p>
                The ICSC welcomes any suggestions you might have regarding the most efficient way the secretariat can help you facilitate your participation
                in the survey. We thank you in advance for your cooperation in this important exercise. For any other questions not already covered in the FAQs or
                elsewhere in this micro-site, please feel free to contact the ICSC by clicking the button below.
            </p>
            <br />

            <div class="">
                <a href="https://icsc.un.org/Home/Contact" target="Contact" class="btn btn-info text-center" width="60%">Contact ICSC</a>
            </div>



        </div>
    </div>
</div>


