
<br>

<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="/template/template2/assets/img/hero/banner.png">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Admin Dashboard</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">

    <section>
        <br /><br />
        @*<div class="top-title-text">
                <div class="container center">
                    <br />
                    <h2 class="center">Welcome</h2>
                    <br />
                </div>
            </div>*@

    </section>

    <div class="questionContainer parent">


        <p>Completing the Household Expenditure questionnaire contributes directly to the establishment of the post adjustment index (PAI) and, under the condition of positive survey results, also of the post adjustment multiplier (PAM), applicable to staff members' respective duty stations. For the results to accurately reflect the cost of living experienced by UN common system professional staff serving in their respective duty stations, it is absolutely important that as many staff members as possible provide the required information accurately and completely. It is therefore in the direct interest of all staff members to participate in the survey.</p>

        <p>This website provides the information, documents, and tools to facilitate the participation of eligible staff members in the survey process. It helps staff members provide complete and accurate information on their expenditures. Among these are the following:</p>
        <div class="container">
            <ul class="unordered-list">
                <li> Explanations on the Household Expenditure questionnaire </li>
                <li> Information on how to access the online questionnaire </li>
                <li> Electronic Diary </li>
                <li> PDF copy of the survey questionnaire </li>
            </ul>
        </div>

        <div class="container">
            <div class="services-details" style="margin:30px 0 0 -30px;">

                <div class="row">

                    <div class="col-lg-12">
                        <div class="s-details-caption">
                            <h2>I. Household Expenditure questionnaire</h2>
                            <p class="details-pera1">
                                <b>Respondent and household information</b>: gathers general demographic information about the respondent, household composition and characteristics of the dwelling.
                            </p>
                            <p class="details-pera2">
                                <b>Housing  and domestics service costs </b>: elicits information on housing and domestic services costs.
                            </p>
                            <p class="details-pera3">
                                <b>Household expenditures</b>: elicits information on expenditures made by a staff member's household,
                                either in the duty station or outside, and covers expenditures on all consumption
                                categories in the current post adjustment index structure, such as food, beverages and tobacco;
                                clothing; health and personal care; transportation and communication; household appliances; textile furnishings;
                                recreation; education; airfare, etc. Household expenditures are requested either on a monthly or an annual basis,
                                with the exception of expenditure for vehicles, which are collected for the past five years.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <p style="margin-top:-50px">
                The Household Expenditure questionnaire is being administered online so that the information elicited is entered directly by the respondent from her desktop and automatically transmitted and stored in the ICSC database, upon submission of the questionnaire. The survey will normally be launched on the first business day of the survey month according to the approved schedule and will continue for the whole month. At the end of the survey month, the survey will be closed, and questionnaire submissions will not be accepted by the ICSC afterwards.
            </p>

            <div><h6 class="headerText" style="font-weight: bold; color: orange;">Confidentiality of Data Provided</h6></div>


            <p class="">
                The information collected during the survey will be treated as strictly confidential and used only for the calculation of the post adjustment index and related statistics. No individual-level data will be published and no data, even in aggregated form, will be disseminated to unauthorized persons. The ICSC is bound by the principles of official statistics related to the dissemination of data, as promulgated by the UN Statistical Commission.
            </p>



            <div class="services-details" style="margin:30px 0 0 -30px;">

                <div class="row">

                    <div class="col-lg-12">
                        <div class="s-details-caption">
                            <h2>II. Accessing the online Household Expenditure questionnaire</h2>
                            <p>Staff members will be requested to complete the online Household expenditures survey questionnaire through a link sent via an email from the ICSC. Clicking on the link takes you to the log-in screen, where you are requested to:</p>
                            <p class="details-pera1">
                                <ul class="unordered-list" style="color:grey;">
                                    <li> Select your preferred language for the questionnaire (English, Fran&ccedil;ais or Espa&ntilde;ol).</li>
                                    <li>
                                        Register as a first-time user by:
                                        <ul>
                                            <li> Entering your official organization-issued e-mail address;</li>
                                            <li> Selecting your duty station and organization from drop-down menus.</li>
                                        </ul>
                                    </li>
                                    <li>Once you register, a randomly generated password will be sent to your e-mail address.</li>
                                    <li> After registering, click "Continue" to go to the Main Menu for the questionnaire.</li>
                                    <li> If you are a returning user, enter your official e-mail address and the password that was sent to you either by clicking <a href="http://icscweb/resources/surveys/cold/hsghh17/intro.asp" target="_Survey">'Survey'</a>  in the menu bar above or using the link from your email.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <p>Note that you can log in and log out of the survey questionnaire any number of times during the survey month. When logged in, you will be prompted to save your data 15 minutes before you are automatically logged out after one hour of inactivity.</p>


            <div class="headerText" style="margin-bottom: 10px;"><b></b></div>


            <div class="services-details" style="margin:30px 0 0 -30px;">

                <div class="row">

                    <div class="col-lg-12">
                        <div class="s-details-caption">
                            <h2>III. Electronic Diary</h2>
                            <p>
                                The <a href="#">Electronic Diary</a> is an Excel tool that enables you to keep track of your expenses in preparation of the survey.
                                You can access the diary in the documents section by clicking on 'Documents' in the Menu bar above.
                                Please check back soon.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>







        <div class="headerText" style="margin-bottom: 10px;"><b>IV.  PDF copy of the Questionnaire</b></div>


        <p>You can <a href="Docs.asp">download </a> a printable copy of the questionnaire and use it to:</p>
        <ul>
            <li> Familiarize yourself with the scope of the information required</li>
            <li> Complete it manually in case of difficulties completing the online questionnaire</li>
            <li> Record various expenses as a diary before the survey month</li>
        </ul>
        <br>

        <!--</div>-->
        <!--</div>-->	<br>
    </div>

</div>
