

#page2, #page3, #page4, #page5, #page6, #page7 {
    display: none;
}

.QuestionnairePageContainer {
   
    width: 100%;
    /*max-width: 38em;*/
    padding: 1em 3em 2em 3em;
    margin: 0em auto;
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.centerAnything {
    margin: 0px auto;
    float: none;
}


 .btn-small, #add_row, .btn-small-danger {
    /*background: #ff656a;*/
    background: #002D5B;
    -moz-user-select: none;
    text-transform: uppercase;
    color: rgb(255 255 255);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    /*padding: 27px 44px;*/
    padding: 18px;
    border-radius: 5px;
    min-width: 100px;
    /*margin: 10px;*/
    margin: 5px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0
}

    .btn-small-danger {
        background: #ff656a;
    }
