@model CSMS.Models.Faq

@{
    ViewData["Title"] = "Edit";
}
<div class="container">

    <h2>Edit a question</h2>

    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" asp-route-pk="@Model.Pk" method="post">
            @* <form asp-action="Edit" asp-route-id="@Model.Pk"> *@
            @* <form asp-action="Edit"> *@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Pk" />
                <div class="form-group">
                    <label asp-for="ID" class="control-label"></label>
                    <input asp-for="ID" class="form-control"  />
                    <span asp-validation-for="ID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Question" class="control-label"></label>
                    <textarea asp-for="Question" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="Question" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Answer" class="control-label"></label>
                    <textarea asp-for="Answer" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="Answer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Qtype" class="control-label"></label>
                    <input asp-for="Qtype" class="form-control" />
                    <span asp-validation-for="Qtype" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GroupId" class="control-label"></label> (12 for PP specific questions and 0 for questions applicable to both H and PP)
                    <input asp-for="GroupId" class="form-control" />
                    <span asp-validation-for="GroupId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-sm btn-info" />
                    <a asp-action="Index" class="btn btn-sm btn-info">Back to FAQs</a>
                </div>
            </form>
        </div>
    </div>


</div>